// Configuration for nf-core/mag v3.x
// Completely disable validation to support mixed read types

// Apptainer configuration - bypass /lscratch mount issue
apptainer {
    autoMounts = false
    runOptions = '--no-mount /lscratch --bind /scratch:/scratch --bind /home:/home'
}

singularity {
    autoMounts = false  
    runOptions = '--no-mount /lscratch --bind /scratch:/scratch --bind /home:/home'
}

// Process-specific container options
process {
    containerOptions = '--no-mount /lscratch'
}

// Override Kraken2 process to use custom database at process level
process {
    withName: 'NFCORE_MAG:MAG:KRAKEN2' {
        ext.args = "--db /scratch/sp96859/Meta-genome-data-analysis/Apptainer/databases/kraken2_Viral_ref"
    }
}

